---
layout: default
title: People
permalink: /people

people_roles:
    - role: faculty
      display: Faculty
    - role: affiliated_faculty
      display: Affiliated Faculty
    - role: research_scientist
      display: Research Scientists
    - role: visitor
      display: Visitors
    - role: phd_student
      display: Ph.D. Students
    - role: master_student
      display: M.S. Students
    - role: undergraduate_student
      display: Undergraduate Students
    - role: student_visitor
      display: Student Visitors

people_roles_alumni:
    - role: faculty
      display: Faculty
    - role: research_scientist
      display: Research Scientists
    - role: phd_student
      display: Ph.D. Students
    - role: master_student
      display: M.S. Students
    - role: undergraduate_student
      display: Undergraduate Students
    - role: visitor
      display: Visitors
---

<div class="text-white c-ucsb" style="padding-top:40px;">
    <div id="bodyContainer" class="container c-ucsb">

        <div class="row mt-3">
            <div class="col-sm-12">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-xs-12 col-sm-12 col-md-12 ">

                {% assign people_sorted = site.data.people | sort: "order" %}

                {% for section in page.people_roles %}
                    {% assign isFirstItem = true %}
                    {% for people in people_sorted %}{% unless people.alumni %}{% if people.role == section.role %}
                        {% if isFirstItem %}
                        {% assign isFirstItem = false %}
                <div class="people-list">
                    <h2>{{section.display}}</h2>
                        {% endif %}
                    {% if people.website %}
                    <div class="people-item people-item-clickable" onclick="document.location='{{people.website}}'">
                    {% else %}
                    <div class="people-item">
                    {% endif %}
                        <div class="photo" style="background-image: url(&quot;{{site.baseurl}}/assets/images/people/{{people.photo}}&quot;)" /></div>
                        <div class="info">
                            {% if people.website %}
                            <div class="name"><a href="{{people.website}}">{{people.display}}</a></div>
                            {% else %}
                            <div class="name">{{people.display}}</div>
                            {% endif %}
                            {% if people.description %}
                            <div class="description">{{people.description}}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}{% endunless %}{% endfor %}
                    {% if isFirstItem == false %}
                </div>
                    {% endif %}
                {% endfor %}

                {% for section in page.people_roles_alumni %}
                    {% assign isFirstItem = true %}
                    {% for people in people_sorted %}{% if people.alumni %}{% if people.role == section.role %}
                        {% if isFirstItem %}
                        {% assign isFirstItem = false %}
                <div class="people-list">
                    <h2>Past {{section.display}}</h2>
                        {% endif %}
                    {% if people.website %}
                    <div class="people-item people-item-clickable" onclick="document.location='{{people.website}}'">
                    {% else %}
                    <div class="people-item">
                    {% endif %}
                        <div class="photo" style="background-image: url(&quot;{{site.baseurl}}/assets/images/people/{{people.photo}}&quot;)" /></div>
                        <div class="info">
                            {% if people.website %}
                            <div class="name"><a href="{{people.website}}">{{people.display}}</a></div>
                            {% else %}
                            <div class="name">{{people.display}}</div>
                            {% endif %}
                            {% if people.description %}
                            <div class="description">{{people.description}}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}{% endif %}{% endfor %}
                    {% if isFirstItem == false %}
                </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>



