---
layout: default
title: Publications
permalink: /publications
---

{% assign bib_index = 1 %}
<div class="text-white c-ucsb" style="padding-top:40px;">
        <div id="bodyContainer" class="container c-ucsb">

                <div class="row mt-3">
                        <div class="col-sm-12">

                        </div>
                    </div>

            <div class="row mt-3">
                <div class="col-xs-12 col-sm-12 col-md-12 ">

                            {% for year in (2000..2021) reversed %}

                            <h2>{{year}}</h2>

                            <ul class="publication-list">
                                {% for pub in site.data.publications %}{% if pub.year == year %}
                                <li class="publication-item">
                                    <span class="publication-title">{{pub.title}}</span>
                                    <span class="publication-authors">{{pub.authors | join:", "}}</span>
                                    <span class="publication-where">{{pub.where}}</span>
                                    <span class="publication-controls">
                                        {% if pub.pdf %}
                                            <span><a href="{{pub.pdf}}">PDF</a></span>
                                        {% endif %}
                                        {% if pub.website %}
                                            <span><a href="{{pub.website}}">Website</a></span>
                                        {% endif %}
                                        {% if pub.link %}
                                            <span><a href="{{pub.link}}">Project Page</a></span>
                                        {% endif %}
                                        {% if pub.pdf %}
                                            <span><a href="{{pub.pdf}}">Download</a></span>
                                        {% endif %}
                                        {% if pub.doi %}
                                            <span><a href="https://doi.org/{{pub.doi}}">DOI</a></span>
                                        {% endif %}
                                        {% if pub.bibtex %}
                                            <span><a href="#" onclick='toggleBibtex({{ pub.bibtex || jsonify || replace: "'", "\\x27" }}); return false;'>Bibtex</a></span>
                                        {% endif %}

                                    </span>
                                </li>
                                {% endif %}{% endfor %}
                            </ul>
                            {% endfor %}


                </div>
            </div>
        </div>
</div>





<script type="text/javascript">

function toggleBibtex(bibtex) {
    console.log(bibtex);
    lines = [
        '<div id="bib-{{bib_index}}" style="overflow: auto; background: rgb(253, 253, 246); padding: 20px; width: 600px; max-width: 100%; border-radius: 6px; max-height: 926px;" class="lity-hide">',
            '<pre style="content-editable: true">' + bibtex + '</pre>',
        '</div>'
    ];
    lity(lines.join(""));
}
</script>
