---
layout: default
title: Publications
permalink: /publications
---

<div class="text-white c-ucsb" style="padding-top:40px;">
        <div id="bodyContainer" class="container c-ucsb">

                <div class="row mt-3">
                        <div class="col-sm-12">

                        </div>
                    </div>

            <div class="row mt-3">
                <div class="col-xs-12 col-sm-12 col-md-12 ">

                            {% for year in (2000..2019) reversed %}

                            <h2>{{year}}</h2>

                            <ul class="publication-list">
                                {% for pub in site.data.publications %}
                                {% if pub.year == year %}
                                <li class="publication-item">
                                    <span class="publication-title">{{pub.title}}</span>
                                    <span class="publication-authors">{{pub.authors | join:", "}}</span>
                                    <span class="publication-where">{{pub.where}}</span>
                                    <span class="publication-controls">
                                        {% if pub.pdf %}
                                            <span><a href="{{pub.pdf}}">PDF</a></span>
                                        {% endif %}
                                        {% if pub.website %}
                                            <span><a href="{{pub.website}}">Website</a></span>
                                        {% endif %}
                                        {% if pub.link %}
                                            <span><a href="{{pub.link}}">Download</a></span>
                                        {% endif %}
                                        {% if pub.doi %}
                                            <span><a href="https://doi.org/{{pub.doi}}">DOI</a></span>
                                        {% endif %}
                                        {% if pub.bibtex %}
                                            <!-- <span><a href="#" onclick="toggleBibtex(this); return false;">Bibtex</a></span> -->
                                            <span><a href="#bib" data-lity="">Bibtex</a>
                                                <div id="bib" style="overflow: auto; background: rgb(253, 253, 246); padding: 20px; width: 600px; max-width: 100%; border-radius: 6px; max-height: 926px;" class="lity-hide">
                                                    {{pub.bibtex | newline_to_br }}
                                                </div>
                                            </span>
                                        {% endif %}

                                    </span>
                                    <!-- <span class="publication-details" style="display: none">
                                        {% if pub.bibtex %}
                                            <pre>{{pub.bibtex}}</pre>
                                        {% endif %}
                                    </span> -->
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% endfor %}


                </div>
            </div>
        </div>
</div>





<script type="text/javascript">

function toggleBibtex(a) {
    let parent = a.parentNode.parentNode.parentNode;
    let details = parent.lastChild.previousSibling;
    if(details.style.display != "none") {
        details.style.display = "none";
    } else {
        details.style.display = "block";
    }
}
</script>
