<footer class="bg-dark text-white">
        <div id="footerContainer" class="container pt-2">
          <div class="row">
            <div class="col-md-4 pt-4">
              <h2 class="mb-4 text-secondary">Four Eyes Lab </h2>
              <img class="img-fluid d-block" src="assets/images/ucsblogo.png" width="100">
              <br>
              <p class="text-white">Department of Computer Science University of California Santa Barbara, CA 93106</p>
            </div>
            <div class="col-md-4 pt-4">
              <h2 class="mb-4 text-secondary">Quick Access</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="/people" class="text-white">People</a>
                </li>
                <li>
                  <a href="/research" class="text-white">Research</a>
                </li>
                <li>
                  <a href="/publications" class="text-white">Publications</a>
                </li>
                <li>
                  <a href="/info" class="text-white">Info for Students</a>
                </li>
                <!-- <li>
                  <a href="/datasets" class="text-white">Datasets</a>
                </li> -->
              </ul>
            </div>
            <div class="pt-4 col-md-4">
              <h2 class="mb-4 text-secondary">Location</h2>
              <!-- <p>
                <a href="tel:" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i></a>
              </p>
              <p>
                <a href="mailto:" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i><br> </a>
              </p> -->
              <p>
                <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>Harold Frank Hall 5110&nbsp;</a>
              </p>
              <p>
                <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>Elings hall, Room 2024&nbsp;</a>
              </p>
            </div>
            <!-- <div class="pt-4 col-md-3">
              <h2 class="mb-4 text-light">Subscribe</h2>
              <form>
                <fieldset class="form-group text-white"> <label for="exampleInputEmail1">Get our newsletter</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> </fieldset>
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
              </form>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">
              <p class="text-center text-white"> Copyright © {{ page.date | date: "%Y"}}, Four Eyes Lab, University of California, Santa Barbara. </p>
            </div>
          </div>
        </div>
</footer>
