<style>
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle, .navbar-toggler {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

</style>


<nav class="navbar navbar-expand-md c-ucsb-dark navbar-dark p-0 sticky " >
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <div id="headerContainer" class="container c-ucsb-dark" >
      <a class="navbar-brand" href="#"> <img src="assets/images/logo.png" alt="Four Eyes Lab Website"  width="170"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end"  id="navbar2SupportedContent" >
          <ul class="navbar-nav">
              <li class="nav-item" {% if page.url=='/' %} class='active' {% endif %}><a class="nav-link" href="{{site.baseurl}}/"><i class="fa d-inline fa-lg fa-home"></i> Home</a></li>
              <li class="nav-item" {% if page.url=='/people' %} class='active' {% endif %}><a class="nav-link" href="{{site.baseurl}}/people"><i class="fa d-inline fa-lg fa-users"></i> People</a></li>
              <li class="nav-item" {% if page.url=='/research' %} class='active' {% endif %}><a class="nav-link" href="{{site.baseurl}}/research"><i class="fa d-inline fa-lg fa-graduation-cap"></i> Research</a></li>
              <li class="nav-item" {% if page.url=='/publications' %} class='active' {% endif %}><a class="nav-link" href="{{site.baseurl}}/publications"><i class="fa d-inline fa-lg fa-file-o"></i> Publications</a></li>
              <li class="nav-item" {% if page.url=='/info' %} class='active' {% endif %}><a class="nav-link" href="{{site.baseurl}}/info"><i class="fa d-inline fa-lg fa-info"></i> Info for Students</a></li>
              <li class="nav-item" {% if page.url=='/datasets' %} class='active' {% endif %}><a class="nav-link" href="{{site.baseurl}}/datasets"><i class="fa d-inline fa-lg fa-database"></i> Datasets</a></li>
              <li class="nav-item" {% if page.url=='/contact' %} class='active' {% endif %}><a class="nav-link" href="{{site.baseurl}}/contact"> <i class="fa d-inline fa-lg fa-envelope-o"></i> Contact</a></li>          
            </ul>
      </div>
      
    </div>
    
  </nav>

  <div class="mb-3"></div>
