@mixin custom-bg-variant($parent, $color) {
    #{$parent} {
      background-color: $color !important;
    }
    a#{$parent} {
      @include hover-focus {
        background-color: darken($color, 10%) !important;
      }
    }
  }

$main-font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$mono-font: "Monaco", "Menlo", monospace;
$main-font-size: 14px;


.beta { color: color("purple"); }

$colors: (
    blue: $blue,
    indigo: $indigo,
    purple: $purple,
    pink: $pink,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    cyan: $cyan,
    white: $white,
    gray: $gray-600,
    gray-dark: $gray-800
  ) !default;
  
  
$custom-colors:(
    color1: rgba(38, 84, 124, 1),
    color2: rgba(23, 190, 187, 1),
    color3: rgba(84, 69, 127, 1),
    color4: rgba(219, 80, 74, 1),
    color5: rgba(255, 223, 0, 1)
)!default;
  
  
  $custom-theme-colors: (
    primary: $blue,
    secondary: $gray-600,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
  ) !default;

@each $color, $value in $custom-colors {
    @include custom-bg-variant('.c-#{$color}', $value);
}
