---
---

@import "reset.scss";
@import "utils.scss";
@import "variables.scss";
@import "typography.scss";

body {
    font-family: $main-font;
    font-size: $main-font-size;
}

.content {
    padding: 0 1em;
    max-width: 1040px;
    margin: 0px auto;
}

.footer {
    padding: 1em 1em 3em;
}

hr {
    border: none;
    border-top: 1px solid #CCC;
}

.news-item {
    // font-size: 13px;
}

.news-date {
    color: #888;
}

.people-list {
    list-style-type: none;
    h2 {
        // font-size: 14px;
        // border-bottom: 1px solid #CCC;
    }
    display: inline-block;
    margin-right: 2em;
}

.people-item {
    width: 100px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 1em;
    font-size: 13px;
    .photo {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-position: center center;
        background-size: cover;
        border-radius: 4px;
    }

    a  {
        // display: block;
    }
}

.publication-item {
    margin-bottom: 0.5em;

    .publication-title {
        font-weight: bold;
        display: block;
    }
    .publication-authors, .publication-controls {
        display: block;
    }
    .publication-where {
        font-style: italic;
        display: block;
    }
    .publication-controls {
        & > span:not(:first-child) {
            &:before {
                content: " | ";
                color: #CCC;
            }
        }
        & > span:first-child {
            &:before {
                content: "[ ";
                color: #CCC;
            }
        }
        & > span:last-child {
            &:after {
                content: " ]";
                color: #CCC;
            }
        }
    }
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
        display: inline-block;
        border-radius: 4px;
        a { padding: 8px 12px; display: inline-block; }
        &.active {
            background: #F8F8F8;
        }
    }
    border-bottom: 1px solid $border-color;
}

.header {
    h1, small {
        display: inline;
    }
    small {
        margin-left: 1em;
    }
    margin: 1em 0;
    padding: 1em;
    margin-bottom: 0;
    background-image: url(../images/banner.png);
}

.research-areas-areas {
    ul {
        margin-right: 1em;
    }
    li {
        margin: 0;
        a {
            display: block;
            padding: 5px 10px;
        }
        &.active {
            background-color: $gray-800;
        }
    }
}

.research-areas-list-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


    .research-areas-projects {
        li {
            margin-bottom: 1em;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .image {
                width: 100px;
                height: 100px;
                background-position: center center;
                background-size: cover;
                border-radius: 4px;
                align-self: center;
                flex-shrink: 0;
            }
            .content {
                width: 100%;
                align-self: center;
            }
        }
    }

    ul {
        list-style-type: none;
        margin: 0; padding: 0;
    }
}

.d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips specifically */
    .d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
    }