<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="Four Eyes Lab,University of California, Santa Barbara, UCSB, Computer Vision, Virtual Reality, Augmented Reality, Visualization, Social Computing">

    <title>{{ page.title }} | Four Eyes Lab</title>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css" />

    <script type="text/javascript">
        var baseurl = "{{site.baseurl}}";
    </script>
</head>
<body>
    <div class="content">
        {% include navigation.html %}
        {{ content }}
        <hr />
        <small>Copyright 2017, Four Eyes Lab, University of California, Santa Barbara.</small>
    </div>
</body>
</html>